*.py[cod]
*.*~
.#*
*#*#
.DS_Store
#*.txt
*.pdf
.~lock.*
logs/*.log*
scripts/ups
scripts/ups.tmp
old

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
