[Unit]
Description=Allows the Raspberry Pi to communicate with the UPS HAT

[Install]
Alias=ups powerline

[Service]
Type=forking
ExecStart=/storage/.kodi/addons/.ups_power/bin
ExecStop=/usr/bin/kill -s QUIT ${MAINPID}
